/* Make styles for header so it centers the text and creates a min-height 300px background color. It should be centered horizontally and vertically */
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: hsl(0, 0%, 20%);
}

header {
  text-align: center;
  min-height: 300px;
  background-color: hsl(210, 45%, 48%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  /* Make the background into img/bg.jpeg and make it cover */
  background-image: url("img/bg.jpeg");
  background-size: cover;
  background-position: center;
}

header > p {
  font-size: 0.8em;
  color: hsl(0, 0%, 80%);
  margin: 0;
}

main {
  background-color: white;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.speakers,
.organizers {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.speaker > img,
.Organizer > img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  /* Cover the square */
  object-fit: cover;
}

.speaker,
.Organizer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  width: 40%;
}

.speaker > div > h3,
.Organizer > div > h3 {
  margin: 0;
}

.speaker > div > p,
.Organizer > div > p {
  margin: 0;
  font-size: 0.8em;
  color: hsl(0, 0%, 50%);
}

table.schedule {
  width: 100%;
  border-collapse: collapse;
}

table.schedule td {
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
}

table.schedule td:first-child {
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: hsl(0, 0%, 50%);
}

table.schedule td:nth-child(2) {
  width: 70%;
  text-align: left;
}

/* Style for minimum width of first column of 100px */
@media (min-width: 600px) {
  table.schedule td:first-child {
    width: 150px;
  }
}

/* Add animation to everything of fade-in from the bottom */
.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
/* } */